@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(172deg, 67%, 45%);
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

.header__title {
  text-align: center;
  color: hsl(183deg, 100%, 15%);
  font-size: 1em;
  margin: 30px 0;
  letter-spacing: 8px;
}

.calculator {
  background-color: hsl(0deg, 0%, 100%);
  width: 300px;
  margin: auto;
  border-radius: 16px;
  padding: 32px;
}

.calculator__options--label {
  display: block;
  color: hsl(186deg, 14%, 43%);
  font-size: 0.75em;
  margin-bottom: 8px;
}

.calculator__people--label {
  display: block;
  color: hsl(186deg, 14%, 43%);
  font-size: 0.75em;
  margin-bottom: 8px;
}

.calculator__options--bill {
  width: 100%;
  height: 48px;
  font-family: "Space Mono", monospace;
  font-size: 1em;
  text-align: right;
  caret-color: hsl(172deg, 67%, 45%);
  border-radius: 4px;
  border: none;
  padding-right: 10px;
  color: hsl(183deg, 100%, 15%);
  margin-bottom: 30px;
  background-image: url("../images/icon-dollar.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: hsl(189deg, 41%, 97%);
}
.calculator__options--bill:hover {
  cursor: pointer;
}
.calculator__options--bill:focus {
  outline: none;
  border: 2px solid hsl(172deg, 67%, 45%);
}
.calculator__options--bill::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btns {
  border: none;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 15px;
  margin-bottom: 30px;
}
.btns__legend {
  display: block;
  color: hsl(186deg, 14%, 43%);
  font-size: 0.75em;
  margin-bottom: 8px;
}
.btns__button {
  width: 100%;
  height: 45px;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(189deg, 41%, 97%);
  font-family: "Space Mono", monospace;
  font-size: 0.8em;
  border: none;
  border-radius: 4px;
}
.btns__button:hover {
  cursor: pointer;
}
.btns__button:nth-child(4) {
  background-color: hsl(172deg, 67%, 45%);
}
.btns__custom {
  width: 100%;
  height: 48px;
  font-family: "Space Mono", monospace;
  font-size: 1em;
  text-align: right;
  caret-color: hsl(172deg, 67%, 45%);
  border-radius: 4px;
  border: none;
  padding-right: 10px;
  color: hsl(183deg, 100%, 15%);
  margin-bottom: 30px;
  background-image: url(unset);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: hsl(189deg, 41%, 97%);
  text-align: center;
  font-size: 0.8em;
  color: hsl(183deg, 100%, 15%);
}
.btns__custom:hover {
  cursor: pointer;
}
.btns__custom:focus {
  outline: none;
  border: 2px solid hsl(172deg, 67%, 45%);
}
.btns__custom::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.calculator__people--bill {
  width: 100%;
  height: 48px;
  font-family: "Space Mono", monospace;
  font-size: 1em;
  text-align: right;
  caret-color: hsl(172deg, 67%, 45%);
  border-radius: 4px;
  border: none;
  padding-right: 10px;
  color: hsl(183deg, 100%, 15%);
  margin-bottom: 30px;
  background-image: url("../images/icon-person.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-color: hsl(189deg, 41%, 97%);
}
.calculator__people--bill:hover {
  cursor: pointer;
}
.calculator__people--bill:focus {
  outline: none;
  border: 2px solid hsl(172deg, 67%, 45%);
}
.calculator__people--bill::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.error {
  border: 2px solid rgb(164, 68, 68);
}

.calculator__result {
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 12px;
  padding: 42px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.results__tip-amount, .results__total-amount {
  font-size: 0.75em;
  color: hsl(189deg, 41%, 97%);
}
.results__tip-person, .results__total-person {
  font-size: 0.65em;
  color: hsl(185deg, 41%, 84%);
}
.results__tip-value, .results__total-value {
  font-size: 1em;
  color: hsl(172deg, 67%, 45%);
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
